BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: All
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
InsertBraces: true
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
