[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/libxse/commonlibsse.git
[submodule "tools/BSAFileExtractor"]
	path = tools/BSAFileExtractor
	url = https://github.com/Sw4T/BSAFileExtractor.git
[submodule "lib/nifly"]
	path = lib/nifly
	url = https://github.com/ousnius/nifly.git
[submodule "lib/recastnavigation"]
	path = lib/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
